/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{margin: 0;
  padding: 0;
  font: inherit;}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* links with class no decoration and inherit color */
a[class] {
  text-decoration: none;
  color: inherit;
}


/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and  smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* css styling */


/* css styling */
main{
  padding: 0.5rem;
}
section{
margin-bottom: 3rem;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 75px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4E873F;
  font-size: 1.5rem;
  margin-right: 1rem;
  background-color: rgb(255, 255, 255);
}
nav .logo{
  display: flex;
  align-items: center;
}


nav .logo h1{
  font-size: 1.5rem;
  font-family: 'Apricot', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 0.5rem;
                                              
}
.links li {
  display: inline-flex;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
}

.hero{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 2.25rem;
  border: solid red 3px;
  height: 90vh;  
}



.hero-top{
  background-color: #C8E4B2;
  grid-column: 1/4;
  grid-row: 1/3;
  border-radius: 2rem;
  font-family: 'Impact', sans-serif;


  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 5rem;
}

.hero-image{
  grid-column: 1/4;
  grid-row: 2/4;

  display: flex;
  justify-content: center;
}

.our-vid{
  border: solid red 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
}

video {
  width: 100%;
  object-fit: cover;
  
 
}



.most-loved{
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr) 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  height: 90vh;
  gap: 3rem;
  background-color:#C8E4B2 ;
  border-radius: 2rem;

}


h3{
  grid-column: 2/5;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #4E873F;
}
.one{
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 2rem;
  background-color: white;
  grid-row: 2/3;
  grid-column: 2/3;
}

.two{
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 2rem;
  background-color: white;
  grid-row: 2/3;
  grid-column: 3/4;
}

.three{
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 2rem;
  background-color: white;
  grid-row: 2/3;
  grid-column: 4/5;
}

.gift {
  display: flex;
  align-items: flex-end;
  background-image: url('./images/gift.jpg');
  background-size: cover; 
  background-position: center;    
  background-repeat: no-repeat; 
  width: 100%;
  height: 90vh;
}

.gift-text{
  background-color: #C8E4B2;
  color: #4E873F;
  width: 100%;
}


.gift-text >h5{
  font-size: 2rem;
  font-weight: bold;
}

.gift-text p{
  max-width: 85%;
  font-size: 1.5rem;
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: #4E873F;
  color: white;
  padding: 1rem 3rem;

}
footer img{
  border-radius: 50%;
}
.footer-links{
  display: flex;
  gap: 3rem;

}

ul li{
  font-size: 1.5rem;
}

ul .heading{
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Front-end Style Guide

Layout

The designs were created to the following widths:

Mobile:

Desktop:-Tablets:

Colors-

Header/home-
Logo - #6AAO3F
Navbar items - #4E873F
Font-color - white and
Background-color behind text - #C8E4B2

Second section-
Our story button - white(background) & #4E873F (font color)

Third section (most loved section) -
Background - #C8E4B2
font-color - 4E873F

Fourth section (gift ) -
Background-color of text part - #C8E4B2
Font-color - 4E873F

Footer-
Background-color - #4E873F
Font-color - white



Typography

Body Copy

Font size - not yet specified. Has to be adjusted while writing the code.

Font- Family:

Logo - Apricots
Navbar - Yeseva One
The text in the header section (nourish. Savour. Relish) - Impact (in upper case)

Paragraph and button in the second section -  impact (in lower case)

Heading in most loved section - Impact
Name of dishes - Canva Sans

Heading in gift section - Impact
Paragraph- Canva Sans

Footer -
Headings - Impact
Rest items - Canva Sans

Weights:Make the font bold only when the letter  are too thin and resulting in poor visibility. */